#!/bin/bash

#bash stuff
alias BASH_EDIT='subl --project /Users/$default_username/.dotfiles/dotfiles.sublime-project; echo NOW OPENING .bash_profile in SUBLIME TEXT' # Edit .bash_profile Alias
alias MYBASH='cd /Users/$default_username/.dotfiles/'


#projects 
alias PROJECTS='cd /Users/$default_username/Documents/Projects'
alias CPROJECTS='cd /Users/$default_username/Documents/Projects/C++'
alias PPROJECTS='cd /Users/$default_username/Documents/Projects/PHP'
alias RPROJECTS='cd /Users/$default_username/Documents/Projects/Ruby'

#ssh stuff
alias SSHCONFIG='subl -o /Users/$default_username/.ssh/config'
