#secrets
.secrets

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Sublime Projects 
dotfiles.sublime-project
dotfiles.sublime-workspace

# Git Completion
# Please use 'curl https://gist.githubusercontent.com/jahead/9578308/raw/install-git-completion.sh -OL'
# and run the script to install git completion 

.git-completion.bash

private/*